In [1]:
import pandas as pd

df=pd.read_csv('../data/StudentPerformanceFactors.csv')

#Explore dataset/ Data inspection

In [2]:
df.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [3]:
df.sample(3)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
691,27,79,Medium,Low,No,6,65,Low,Yes,0,Medium,Medium,Private,Negative,2,No,College,Near,Male,66
6265,21,93,Medium,Low,No,7,67,High,Yes,2,Low,Medium,Public,Neutral,3,No,College,Far,Female,68
1987,23,81,High,Medium,No,8,69,Medium,Yes,5,Medium,Medium,Public,Negative,2,No,High School,Moderate,Male,69

In [4]:
df.columns

Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='str')

In [6]:
df.shape

(6607, 20)

In [30]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   str
 3   Access_to_Resources         6607 non-null   str
 4   Extracurricular_Activities  6607 non-null   str
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   str
 8   Internet_Access             6607 non-null   str
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   str
 11  Teacher_Quality             6529 non-null   str
 12  School_Type                 6607 non-null   str
 13  Peer_Influence              6607 non-null   str
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   str
 16  Parental_Education_Level    6517 non-null   str
 17  Distance_from_Home          6540 non-null   str
 18  Gender                      6607 non-null   str
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), str(13)
memory usage: 1.0 MB

In [31]:
df.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6607.000000,6607.000000,6607.00000,6607.000000,6607.000000,6607.000000,6607.000000
mean,19.975329,79.977448,7.02906,75.070531,1.493719,2.967610,67.235659
std,5.990594,11.547475,1.46812,14.399784,1.230570,1.031231,3.890456
min,1.000000,60.000000,4.00000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.00000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.00000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.00000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.00000,100.000000,8.000000,6.000000,101.000000

In [32]:
df.duplicated().sum()

np.int64(0)

In [12]:
#find all string columns
string_columns_name=[]
for col in df.columns:
    if df[col].dtype == 'str':
        string_columns_name.append(col)
        print(col)

Parental_Involvement
Access_to_Resources
Extracurricular_Activities
Motivation_Level
Internet_Access
Family_Income
Teacher_Quality
School_Type
Peer_Influence
Learning_Disabilities
Parental_Education_Level
Distance_from_Home
Gender

In [23]:
#find unique item and their value counts of str-datatype columns
for col in string_columns_name:
    print(f'{col}')
    print('....................................')
    print(df[col].unique())
    print(df[col].value_counts())
    print()

Parental_Involvement
....................................
<StringArray>
['Low', 'Medium', 'High']
Length: 3, dtype: str
Parental_Involvement
Medium    3362
High      1908
Low       1337
Name: count, dtype: int64

Access_to_Resources
....................................
<StringArray>
['High', 'Medium', 'Low']
Length: 3, dtype: str
Access_to_Resources
Medium    3319
High      1975
Low       1313
Name: count, dtype: int64

Extracurricular_Activities
....................................
<StringArray>
['No', 'Yes']
Length: 2, dtype: str
Extracurricular_Activities
Yes    3938
No     2669
Name: count, dtype: int64

Motivation_Level
....................................
<StringArray>
['Low', 'Medium', 'High']
Length: 3, dtype: str
Motivation_Level
Medium    3351
Low       1937
High      1319
Name: count, dtype: int64

Internet_Access
....................................
<StringArray>
['Yes', 'No']
Length: 2, dtype: str
Internet_Access
Yes    6108
No      499
Name: count, dtype: int64

Family_Income
....................................
<StringArray>
['Low', 'Medium', 'High']
Length: 3, dtype: str
Family_Income
Low       2672
Medium    2666
High      1269
Name: count, dtype: int64

Teacher_Quality
....................................
<StringArray>
['Medium', 'High', 'Low', nan]
Length: 4, dtype: str
Teacher_Quality
Medium    3925
High      1947
Low        657
Name: count, dtype: int64

School_Type
....................................
<StringArray>
['Public', 'Private']
Length: 2, dtype: str
School_Type
Public     4598
Private    2009
Name: count, dtype: int64

Peer_Influence
....................................
<StringArray>
['Positive', 'Negative', 'Neutral']
Length: 3, dtype: str
Peer_Influence
Positive    2638
Neutral     2592
Negative    1377
Name: count, dtype: int64

Learning_Disabilities
....................................
<StringArray>
['No', 'Yes']
Length: 2, dtype: str
Learning_Disabilities
No     5912
Yes     695
Name: count, dtype: int64

Parental_Education_Level
....................................
<StringArray>
['High School', 'College', 'Postgraduate', nan]
Length: 4, dtype: str
Parental_Education_Level
High School     3223
College         1989
Postgraduate    1305
Name: count, dtype: int64

Distance_from_Home
....................................
<StringArray>
['Near', 'Moderate', 'Far', nan]
Length: 4, dtype: str
Distance_from_Home
Near        3884
Moderate    1998
Far          658
Name: count, dtype: int64

Gender
....................................
<StringArray>
['Male', 'Female']
Length: 2, dtype: str
Gender
Male      3814
Female    2793
Name: count, dtype: int64